html {
    --width_main_part:775px;
    --left_menu_width: 215px;
}
@media(max-width: 2560px){
    html{
        --interface_left: 768px;
    }
}
@media(max-width: 1920px){
    html{
        --interface_left: 448px;
    }
}
@media(max-width: 1440px){
    html{
        --interface_left:208px;
    }
}
@media(max-width: 1280px){
    html{
        --interface_left:128px;
    }
}
@media(max-width: 1024px){
    html{
        --interface_left:4px;
    }
}
.header{
    z-index: 991;
    position: fixed;
    background-color: #e3f3ff;
    display: block;
    height: 48px;
    width: 101vw;
    left: -1%;
    top:-1%;
}
.HeaderData{
    position: relative;
    left: calc(var(--interface_left) + 1% + 13px);
    width: calc( var(--left_menu_width) + var(--width_main_part) + 5px);
    letter-spacing: -0.36rem;
}
.div_button_hey{
    letter-spacing:normal;
    display: inline-block;
    left: 5px;
    position: relative;
    width: 60px;
    height: 35px;
    top:4px;
}
.button_hey {
    outline:none;
    background-color: #e3f3ff;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 35px;
    text-align: left;
    cursor: pointer;
    transition: opacity 0.2s;
    font-size: 35px;
    padding-top: 3px;
}
.MusicPrevLoad {
    letter-spacing: normal;
    height: 34px;
    z-index: 990;
    position: relative;
    left: 475px;
    width: 340px;
    top: 11px;
    border-radius: 4px;
    background-color: lightgrey;
    display: inline-block;
}
.ExitBtn {
    letter-spacing:normal;
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    top: 12px;
    left: 570px;
    outline: none;
    outline: 0;
    border-width: 0;
    padding: 0;
}
.ExitBtn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.ExitButtonInHeader {
    position: relative;
    display: inline-block;
    width: 40px;
}
.exit_window {
    letter-spacing: normal;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.1);
    position:fixed;
    left:0;
    top:0;
    z-index:998;
}
.Interface {
    display: block;
    position: relative;
    width: calc( var(--left_menu_width) + var(--width_main_part) + 5px);
    left: var(--interface_left);
}
.left_menu {
    background-color: #e3f3ff;
    border-radius: 2px;
    height: calc(100vh - 55px);
    width: 212px;
    display: inline-block;
    top: 50px;
    flex-wrap: wrap;
    position: fixed;
    padding-right: 5px;
}
.button_message1 , .button_friends1, .button_groups1 , .button_communities1, .button_profile1{
    background-color: #e3f3ff;
    flex-wrap: wrap;
    z-index: 900;
    cursor: pointer;
    height: 6.5%;
    width: 10%;
}
.button_friends:hover, .button_communities:hover, .button_message:hover, .button_groups:hover, .button_profile:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
    height: 7%;
    z-index: 31;
    border-radius: 4px;
    padding-top: 15%;
}
.button_message , .button_friends , .button_groups , .button_communities, .button_profile{
    width: 205px;
    z-index: 900;
    padding: 10px 0 5px 5px;
    height: 50px;
    background-color: #e3f3ff;
    font-size: 24px;
    border: solid rgba(0,0,0,0);
    cursor: pointer;
    text-align: left;
    position: relative;
    display: block;
}
.MainPart {
    border-radius: 2px;
    width: 785px;
    background-color: #e3f3ff;
    overflow: hidden;
    top: 43px;
    height: calc(100vh - 55px);
    position: relative;
    left: 222px;
    display: inline-block;
}
.LeftColumn {
    width: 240px;
    position: absolute;
    margin-right: 4px;
    max-height: 310px;
    top: 4px;
    left: 4px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 4px;
}
.PrevAvatar {
    width: 240px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    height: 240px;
    cursor: pointer;
}
.PrevButtonInLeftColumn {
    position: relative;
    width: 240px;
    text-align: center;
    top: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    height: 30px;
    margin-bottom: 5px;
}
.RightColumn {
    width: 526px;
    position: absolute;
    left: 256px;
    top: 4px;
    height: calc(100vh - 60px);
}
.PrevProfileInfo {
    position: relative;
    width: 100%;
    height: 203px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.PrevUserTitle {
    width: 100%;
    height: 70px;
}
.PrevUserName {
    height: 25px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 4px;
    margin-right: 4px;
    width: 234px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.PrevUserSurname {
    position: relative;
    top: 5px;
    height: 25px;
    width: 280px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: inline-block;
}
.PrevUserDescription {
    position: relative;
    left: 4px;
    top: 8px;
    height: 25px;
    width: 518px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.PrevUserInfo_Info {
    top: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 95px;
    width: 100%;
}
.PrevUserInfo_Info__Block {
    display: block;
    position: relative;
    top: 5px;
}
.PrevUserInfo_Info__Right {
    position: relative;
    display: inline-block;
    left: 5px;
    border-radius: 4px;
    width: 172px;
    height: 25px;
    background-color: rgba(0, 0, 0, .2);
}
.PrevUserInfo_Info__Left {
    position: relative;
    display: inline-block;
    left: 4px;
    width: 342px;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .2);
}
.PrevUserInfo__Button {
    position: relative;
    top: 5px;
    left: 132px;
    width: 263px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
}
.PostFeed {
    position: relative;
    top: 5px;
    width: 524px;
    height: auto;
}
.UserPost {
    width: 516px;
    padding: 4px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    margin-bottom: 4px;
}
.UserPost_Title {
    width: 516px;
    height: 20px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.UserPost_Files {
    position: relative;
    top: 4px;
    padding: 0 2px 4px 0;
}
.UserPost_Files div {
    cursor: pointer;
    letter-spacing: -.36rem;
}
.UserPost_Files__Image {
    width: 254px;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    height: 254px;
    background-color: rgba(0, 0, 0, .2);
}
.PrevLoadMessage {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 24px;
    padding: 8px;
    color: white;
    background-color: lightgrey;
    border-radius: 4px;
    height: 50px;
    width: 200px;
}